
.main {
  /* border: 3px groove grey; */
  width: 260px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  height: 400px;

}

.result {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1px solid wheat;
  border-radius: 10%;
  position: relative;
  background-color: black;
  color: white;
  padding: 10px;
  top: -5px;
  font-size: 35px;


}

.clearBtn {
  width: 57px;
  height: 57px;
  margin-left: 3px;
  margin-top: 15px;
  margin-bottom: 6px;
  background-color:lightslategrey;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  border: 1px solid gray;

}

.btn {
  background-color: white;
  border: 1px solid gray;
  width: 57px;
  color: black;
  height: 57px;
  margin: 2px;
  padding: 2px;
  font-size: 25px;
  border-radius: 50%;
}

.halfBtn {
  background-color: white;
  border: 1px solid gray;
  color: black;
  margin-top: 5px;
  padding: 4px;
  font-size: 25px;
  margin-left: 2px;
  border-radius: 50%;
  width: 57px;
  height: 57px;
}
